<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/angular.js"></script>
	</head>
	<body>
		<div ng-app="myapp">
			<div  ng-controller="myCtrl">
					<input ng-model="name">
					<p>我的名字是{{name}}</p>
			</div>
			<div ng-controller="myCtrl1">
				<ul>
					<li ng-repeat="x in names">{{x}}</li>
				</ul>
			</div>
		</div>
			
	</body>
	<script>
		var app=angular.module("myapp",[]);
		app.controller('myCtrl', function($scope) {
    		$scope.name = "John Dow";
		});
		app.controller('myCtrl1', function($scope) {
    		$scope.names = ["John Dow","zhou","kaikai"];
		});
	</script>
	
</html>
